.caixa {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.destaques {
    display: grid;
    gap: .2rem;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    height: calc(100vh - 50px);
    background-color: #ddd;
}

.destaques__titulo {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fdfdfd;
    text-align: center;
    padding: .6rem;
    width: 100%;
}

.destaques__principal {
    background: url('../../img/fortnite.jpg') center / cover no-repeat;    
    grid-row: 1 / 3;
}

.destaques__secundario, .destaques__principal {
    transition: .5s ease-in-out;
}

.destaques__principal:hover, .destaques__secundario:hover {
    cursor: pointer;
    transform: scale(1.04);    
}

.destaques__secundario:nth-child(2) {
    background: url('../../img/pubg.jpg') center / cover no-repeat;
}

.destaques__secundario:nth-child(3) {
    background: url('../../img/slack.png') center / cover no-repeat;
}

.destaques__secundario:nth-child(4) {
    background: url('../../img/whatsapp.png') center / cover no-repeat;
}

.destaques__secundario:nth-child(5) {
    background: url('../../img/cs-go.jpg') center / cover no-repeat;
}

.destaques__categorias {
    grid-row: 3 / 3;
}

.destaques__categorias___lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}

.destaques__categorias___item {
    align-items: center;
    background: #fdfdfd;
    border-left: 5px solid transparent;
    color: #333;
    display: flex;
    padding: 1rem;
    width: 50%;
}

.destaques__categorias___link {
    color: inherit;
}